:root {
  --notion-gray: rgb(155, 154, 151);
  --notion-brown: rgb(100, 71, 58);
  --notion-orange: rgb(217, 115, 13);
  --notion-yellow: rgb(223, 171, 1);
  --notion-green: rgb(15, 123, 108);
  --notion-blue: rgb(11, 110, 153);
  --notion-purple: rgb(105, 64, 165);
  --notion-pink: rgb(173, 26, 114);
  --notion-red: rgb(224, 62, 62);

  --notion-default_background: rgba(227, 226, 224);
  --notion-red_background: rgb(251, 228, 228);
  --notion-pink_background: rgb(244, 223, 235);
  --notion-blue_background: rgb(221, 235, 241);
  --notion-purple_background: rgb(234, 228, 242);
  --notion-green_background: rgb(221, 237, 234);
  --notion-yellow_background: rgb(251, 243, 219);
  --notion-orange_background: rgb(250, 235, 221);
  --notion-brown_background: rgb(233, 229, 227);
  --notion-gray_background: rgb(235, 236, 237);
}

.notion-container {
  @apply px-6 pb-64;

  @media (min-width: theme("screens.md")) {
    @apply px-0;
  }
}

.notion-block {
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;

  margin-top: 1px;
  margin-bottom: 1px;
  padding: 3px 2px;

  & > .notion-block {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }
}

.notion-caption {
  font-size: 14px;
  line-height: 1.4;
  color: rgba(55, 53, 47, 0.6);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 2px;
}

.notion-paragraph {
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
}

.notion-anchor {
  @apply flex text-xl;

  align-items: center;

  @media (min-width: theme("screens.md")) {
    @apply hidden;
  }
}

.notion-heading_1,
.notion-heading_2,
.notion-heading_3 {
  &:hover .notion-anchor {
    @apply flex;
  }
}

.notion-heading_1 {
  @apply flex w-full relative;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3;
  margin-top: 2rem;
  margin-bottom: 4px;
}

.notion-heading_2 {
  @apply flex w-full relative;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.3;
  margin-top: 1.4rem;
  margin-bottom: 4px;
}

.notion-heading_3 {
  @apply flex w-full relative;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3;
  margin-top: 1rem;
  margin-bottom: 4px;
}

.notion-audio {
  @apply w-full;
}

.notion-file {
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  flex-grow: 1;
  min-width: 0px;
  border-radius: 3px;
  color: inherit;
  fill: inherit;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;

  &:hover {
    background: rgba(55, 53, 47, 0.08);
  }
  .notion-file_icon {
    display: inline-flex;
    user-select: none;
    margin-right: 2px;
    width: 1.35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 30px;
    height: 1.35rem;
  }

  .notion-file_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.notion-video {
  @apply w-full mx-auto;
}

.notion-video_vimeo {
  --video--width: 1280;
  --video--height: 720;
  position: relative;
  padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.notion-embed {
  @apply w-full h-96;
}

.notion-image {
  width: 100%;
}

.notion-bookmark {
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: stretch;
  text-align: left;
  overflow: hidden;
  border: 1px solid rgba(55, 53, 47, 0.16);
  border-radius: 3px;
  position: relative;
  color: inherit;
  fill: inherit;

  &:hover {
    background: rgba(55, 53, 47, 0.08);
  }

  .notion-bookmark_info {
    flex: 4 1 180px;
    padding: 12px 14px 14px;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;

    .notion-bookmark_title {
      font-size: 14px;
      line-height: 20px;
      color: rgb(55, 53, 47);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 24px;
      margin-bottom: 2px;
    }

    .notion-bookmark_description {
      font-size: 12px;
      line-height: 16px;
      color: rgba(55, 53, 47, 0.6);
      height: 32px;
      overflow: hidden;
    }

    .notion-bookmark_target {
      display: flex;
      margin-top: 6px;

      .notion-bookmark_target_pavicon {
        width: 16px;
        height: 16px;
        min-width: 16px;
        margin-right: 6px;
      }

      .notion-bookmark_target_url {
        font-size: 12px;
        line-height: 16px;
        color: rgb(55, 53, 47);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .notion-bookmark_image {
    flex: 1 1 180px;
    @apply hidden;

    @media (min-width: theme("screens.sm")) {
      @apply block relative;
    }
  }
}

.notion-column_list {
  display: flex;
  flex-direction: column;
  @media (min-width: theme("screens.sm")) {
    flex-direction: row;
    gap: 24px;
  }
}

.notion-column {
  display: flex;
  flex-direction: column;
}

.notion-bulleted_list,
.notion-numbered_list {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-left: 2px;
  color: inherit;
  fill: inherit;
}

.notion-bulleted_list-content,
.notion-numbered_list-content {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
}

.notion-bulleted_list-index,
.notion-numbered_list-index {
  user-select: none;
  margin-right: 2px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
}

.notion-bulleted_list-index {
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  font-family: "Arial";
}

.notion-callout {
  display: flex;
}

.notion-callout_content {
  display: flex;
  width: 100%;
  border-radius: 3px;
  padding: 16px 16px 16px 12px;
  border: 1px solid rgba(55, 53, 47, 0.09);
  background-color: transparent;

  justify-content: center;
}

.notion-icon-container {
  user-select: none;
  display: inline-flex;
  position: relative;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  flex-shrink: 0;
}

.notion-icon {
  display: inline-flex;
  width: 21.6px;
  height: 21.6px;
  font-size: 21.6px;
  color: black;
}

.notion-callout_text {
  display: flex;
  flex-direction: column;
  min-width: 0px;
  margin-left: 8px;
  width: 100%;
}

.notion-to_do {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-left: 2px;
  color: inherit;
  fill: inherit;

  .notion-to_do_checkbox {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 1px;

    align-items: center;
    justify-content: center;
  }
  .notion-to_do_checked .notion-text {
    opacity: 0.5;
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    text-decoration-color: rgba(55, 53, 47, 0.25);
  }
}

.notion-toggle {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-left: 2px;
}

.notion-link_page {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer !important;
    background: rgba(148, 148, 148, 0.15);
    border-radius: 1px;
  }
  .notion-text {
    border-bottom: 0.05em solid rgba(55, 53, 47, 0.25);
  }
}

.notion-equation {
  display: flex;
  padding: 2px 6px;
  width: 100%;
  flex-direction: column;
  overflow: auto;
  color: inherit;
  fill: inherit;

  .katex {
    font: normal 1.5rem KaTeX_Main, Times New Roman, serif;
  }
}

.notion-code {
  position: relative;

  // For hljs
  & > pre {
    font-size: 85%;
    tab-size: 2;
    white-space: nowrap;
    border-radius: 3px;
    overflow-x: auto;
  }

  .notion-code_copy,
  .notion-code_language {
    font-size: 85%;
    position: absolute;
    color: rgba(55, 53, 47, 0.6);

    user-select: none;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .notion-code_copy {
    top: 8px;
    right: 8px;

    cursor: pointer;
  }

  .notion-code_language {
    top: 8px;
    left: 8px;
  }
}

.notion-quote {
  width: 100%;

  border-left: 3px solid currentcolor;
  padding-left: 14px;
  padding-right: 14px;

  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 2px;
  margin-right: 2px;
}

.notion-divider {
  display: flex;
  width: 100%;
  height: 15px;
  align-items: center;

  .notion-divider_line {
    display: flex;
    width: 100%;
    height: 1px;
    border-top: 1px solid rgba(55, 53, 47, 0.09);
  }
}

.notion-page,
.notion-database {
  height: 30px;
  align-items: center;
  padding-left: 2px;
  padding-right: 2px;

  &:hover {
    cursor: pointer !important;
    border-radius: 1px;
    background: rgba(148, 148, 148, 0.15);
    box-shadow: 0 0 0 2px rgba(148, 148, 148, 0.15);
  }

  .notion-text {
    border-bottom: 0.05em solid rgba(55, 53, 47, 0.25);
    font-weight: 500;
  }
}

.notion-table {
  td,
  th {
    @apply px-2 py-1 w-full;
    @apply border border-gray-300;

    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }

  th {
  }

  tr {
    &:first-child {
      td,
      th {
        border-top: none;
      }
    }
    &:last-child {
      td,
      th {
        border-bottom: none;
      }
    }
  }

  table {
    @apply border rounded border-gray-300;
    @apply table-fixed;
    @apply block mb-6;
    @apply w-full;
    @apply overflow-x-auto;
    @apply whitespace-nowrap;
    * {
      @apply whitespace-nowrap;
    }
  }
}

.notion-children {
  @apply pl-6;
}

.notion-users,
.notion-selects {
  display: inline-flex;
  gap: 3px;
}

.notion-select {
  display: inline-flex;
  align-items: center;
  height: 18px;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;

  font-size: 14px;
  line-height: 120%;
  color: rgb(65, 36, 84);
}

.notion-mention {
  .notion-icon-container {
    width: 1.125em;
    height: auto;
    margin-right: 0.1em;
  }
}

.notion-formula {
  display: inline-flex;
}

.notion-text {
  @apply font-sans;
  @apply leading-normal;

  white-space: pre-wrap;
  word-break: break-word;
  padding: 3px 2px;

  b {
    @apply font-bold;
  }

  a {
    border-bottom: 0.05em solid;
    border-color: rgba(55, 53, 47, 0.4);
    opacity: 0.7;
  }

  & > code {
    @apply font-mono;
    line-height: normal;
    background: rgba(135, 131, 120, 0.15);
    color: #eb5757;
    border-radius: 3px;
    font-size: 85%;
    padding: 0.2rem 0.4rem;

    &.notion-gray {
      color: var(--notion-gray);
    }
    &.notion-brown {
      color: var(--notion-brown);
    }
    &.notion-orange {
      color: var(--notion-orange);
    }
    &.notion-yellow {
      color: var(--notion-yellow);
    }
    &.notion-green {
      color: var(--notion-green);
    }
    &.notion-blue {
      color: var(--notion-blue);
    }
    &.notion-purple {
      color: var(--notion-purple);
    }
    &.notion-pink {
      color: var(--notion-pink);
    }
    &.notion-red {
      color: var(--notion-red);
    }

    &.notion-gray_background {
      background-color: var(--notion-gray_background);
    }
    &.notion-brown_background {
      background-color: var(--notion-brown_background);
    }
    &.notion-orange_background {
      background-color: var(--notion-orange_background);
    }
    &.notion-yellow_background {
      background-color: var(--notion-yellow_background);
    }
    &.notion-green_background {
      background-color: var(--notion-green_background);
    }
    &.notion-blue_background {
      background-color: var(--notion-blue_background);
    }
    &.notion-purple_background {
      background-color: var(--notion-purple_background);
    }
    &.notion-pink_background {
      background-color: var(--notion-pink_background);
    }
    &.notion-red_background {
      background-color: var(--notion-red_background);
    }
  }
}

.notion-user,
.notion-date {
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
}

.notion-gray {
  color: var(--notion-gray);
}
.notion-brown {
  color: var(--notion-brown);
}
.notion-orange {
  color: var(--notion-orange);
}
.notion-yellow {
  color: var(--notion-yellow);
}
.notion-green {
  color: var(--notion-green);
}
.notion-blue {
  color: var(--notion-blue);
}
.notion-purple {
  color: var(--notion-purple);
}
.notion-pink {
  color: var(--notion-pink);
}
.notion-red {
  color: var(--notion-red);
}

.notion-default_background {
  background-color: var(--notion-default_background);
}
.notion-gray_background {
  background-color: var(--notion-gray_background);
}
.notion-brown_background {
  background-color: var(--notion-brown_background);
}
.notion-orange_background {
  background-color: var(--notion-orange_background);
}
.notion-yellow_background {
  background-color: var(--notion-yellow_background);
}
.notion-green_background {
  background-color: var(--notion-green_background);
}
.notion-blue_background {
  background-color: var(--notion-blue_background);
}
.notion-purple_background {
  background-color: var(--notion-purple_background);
}
.notion-pink_background {
  background-color: var(--notion-pink_background);
}
.notion-red_background {
  background-color: var(--notion-red_background);
}
